.nested-dropdown {
    &__submenu-item {
        position: relative;

        &__link {
            position: relative;
            display: block;
            
            &::after {
                position: absolute;
                right: -0.75rem;
                top: 50%;
                transform: translateY(-50%);
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
            }
        }

        &__menu-wrap {
            position: absolute;
            top: -2px;
            left: 100%;
            padding-left: 2px;
        }

        &__menu.dropdown-menu {
            position: static;
        }

        &:hover .nested-dropdown__submenu-item__menu {
            display: block;
        }
    }
}