@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";
@import "./variables";

@mixin caret {
    margin-left: 0.5rem;
    width: 1.28571em;
    text-align: center;
    font-family: FontAwesome;
    content: "\f104";
}

@mixin applyPaddingMap($padding-map, $leftOffset) {
    padding-top: map-get($padding-map, top);
    padding-right: map-get($padding-map, right);
    padding-bottom: map-get($padding-map, bottom);
    padding-left: calc(#{map-get($padding-map, left)} + #{$leftOffset});
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;

    &__entry {
        &.active:not(.open) {
            > .sidebar-menu__entry__link {
                background: $sidebar-menu-highlight-bg;
                color: $sidebar-menu-highlight-color;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            @include applyPaddingMap($sidebar-menu-item-padding, 0px);

            &:hover {
                text-decoration: none;
                background: $sidebar-menu-highlight-bg;
                color: $sidebar-menu-highlight-color;
            }

            > i:first-child {
                margin-right: 0.5rem;
                flex: 0 0 auto;
            }

            > span {
                flex: 1 1 auto;
            }
        }

        &--nested {
            // Nested Carets
            .sidebar-menu__entry__link::after {
                flex: 0 0 auto;

                @include caret();
            }
            
            &.open .sidebar-menu__entry__link::after {
                content: "\f107";
            }
        }
    }
}

.sidebar-submenu {
    padding: 0;
    list-style-type: none;
    height: 0;
    overflow: hidden;

    &__entry {
        &.active:not(.open) {
            background: $sidebar-menu-highlight-bg;

            > .sidebar-submenu__entry__link {
                color: $sidebar-menu-highlight-color;
            }
        }

        &--nested > .sidebar-submenu__entry__link::after {
            flex: 0 0 auto;

            @include caret();
        }

        &__link {
            display: flex;
            @include applyPaddingMap(
                $sidebar-submenu-item-padding,
                $sidebar-submenu-nested-offset
            );

            &:hover {
                text-decoration: none;
                background: $sidebar-menu-highlight-bg;
                color: $sidebar-menu-highlight-color;
            }

            > span {
                flex: 1 1 auto;
            }
        }
    }
}

.open {
    &.sidebar-menu__entry--nested > .sidebar-submenu__entry__link::after {
        content: "\f107";
    }

    > .sidebar-submenu {
        height: auto;
    }
}

.sidebar-submenu .sidebar-submenu .sidebar-submenu__entry__link {
    @include applyPaddingMap(
        $sidebar-submenu-item-padding,
        2 * $sidebar-submenu-nested-offset
    );
    font-size: $sidebar-submenu-nested-font-size;
}

/* ------ Slim Sidebar ---------- */
@media (min-width: breakpoint-min('lg', $grid-breakpoints)) {
    .sidebar--collapsed .sidebar-menu--slim {
        .sidebar-menu__entry {
            &.active.open {
                > .sidebar-menu__entry__link {
                    background: $sidebar-menu-highlight-bg;
                    color: $sidebar-menu-highlight-color;
                }
            }

            &--nested {
                position: relative;

                .sidebar-menu__entry__link {
                    &::after {
                        content: none;
                    }
                }

                > .sidebar-submenu {
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    right: auto;
                    bottom: auto;
                    border-left: 5px solid $body-color;
                    min-width: $sidebar-slim-submenu-width;
                    background: $sidebar-slim-submenu-bg;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-radius: $sidebar-slim-submenu-border-radius;
                    box-shadow: $sidebar-slim-submenu-box-shadow;

                    // First Menu - hoverable
                    > .sidebar-submenu__entry > .sidebar-submenu__entry__link {
                        padding-left: 1rem;
                    }
                    // Nested menus
                    .sidebar-submenu__entry__link {
                        @include applyPaddingMap($sidebar-slim-submenu-item-padding, 0.5rem);
                    }
                }

                &:hover > .sidebar-submenu {
                    display: block;
                    height: auto;
                }
            }

            &__link {
                justify-content: center;
                padding-top: 1rem;
                padding-bottom: 1rem;

                > span {
                    display: none;
                }

                > i:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}