@import "bootstrap/variables";

$body-color: $gray-100; 

$sidebar-default-width: 250px;
$sidebar-slim-width: 60px;
$sidebar-slim-submenu-width: 250px;
$sidebar-background: $white;
$sidebar-overlay-transition: 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);

$sidebar-menu-color: $primary;
$sidebar-menu-highlight-bg: $primary;
$sidebar-menu-highlight-color: $white;
$sidebar-slim-submenu-bg: $white;
$sidebar-slim-submenu-border-radius: 5px;
$sidebar-slim-submenu-box-shadow: none;

$sidebar-menu-item-padding: (
    top: 0.5rem,
    right: 1rem,
    bottom: 0.5rem,
    left: 1rem,
);
$sidebar-submenu-item-padding: (
    top: 0.5rem,
    right: 1rem,
    bottom: 0.5rem,
    left:  2.5rem,
);
$sidebar-slim-submenu-item-padding: (
    top: 0.5rem,
    right: 1rem,
    bottom: 0.5rem,
    left: 1.5rem,
);
$sidebar-submenu-nested-offset: 1rem;
$sidebar-submenu-nested-font-size: 12px;

$navbar-height: 56px;

/* Avatar Variants Definitions */
$avatars: (
    sm: (
        size: 20px,

        icon-bottom: -1px,
        icon-right: 0px,
        icon-font-size: 14px,
        icon-stack-ratio: 0.75,
        icon-stack-ratio-small: 0.44,
        
        badge-top: 1px,
        badge-right: -2px,
        badge-font-size: 9px
    ),
    md: (
        size: 30px,
        
        icon-bottom: 5px,
        icon-right: -1px,
        icon-font-size: 20px,
        icon-stack-ratio: 0.75,
        icon-stack-ratio-small: 0.44,

        badge-top: 3px,
        badge-right: 5px
    ),
    lg: (
        size: 60px,
        
        icon-bottom: 8px,
        icon-right: 10px,
        icon-font-size: 20px,
        icon-stack-ratio: 0.75,
        icon-stack-ratio-small: 0.44,
        
        badge-top: 5px,
        badge-right: 10px
    )
);

// All Colors Definitions (Add more colors in further parameters)
$dashboard-colors: map-merge(
    map-merge(
        $grays,
        $colors
    ),
    $theme-colors
);