.avatar-image {
    display: inline-block;
    position: relative;

    &__image {
        position: relative;
        visibility: hidden;
        z-index: 0;

        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__placeholder {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &--loaded {
        .avatar-image__image {
            visibility: visible;
        }
    }
}