.avatar-font {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__text {
        flex: 0 0 auto;
    }
}

.avatar-font--sm .avatar-font__text {
    font-size: 12px;
}

.avatar-font--lg .avatar-font__text {
    font-size: 36px;
}