{
    "presets": [
        "env",
        "react",
        "stage-2"
    ],
    "plugins": [
        "universal-import",
        "react-hot-loader/babel"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}