<!DOCTYPE html>
<% var config = htmlWebpackPlugin || SSRData %>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= config.options.title || 'React Dashboard'%></title>

  <% if (config.files.favicon) { %>
  <link rel="shortcut icon" href="<%= config.files.favicon%>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">

  <% for (var css in config.files.css) { %>
  <link href="<%= config.files.css[css] %>" rel="stylesheet">
  <% } %>
  
  <% if (config.options.chunks) { %>
    <%= config.options.chunks.css %>
  <% } %>
</head>
<body>

<div id="root"><%= config.innerHtml || '' %></div>

<% for (var chunk in config.files.chunks) { %>
<script src="<%= config.files.chunks[chunk].entry %>" defer></script>
<% } %>

<% if (config.options.devServer) { %>
<script src="<%= config.options.devServer%>/webpack-dev-server.js"></script>
<% } %>

</body>
</html>