@import './../../styles/variables.scss';
@import '~bootstrap/scss/mixins/breakpoints';

.floatGridParent {
    margin: 0 auto;

    &.static {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        
        @media (min-width: breakpoint-min('sm', $grid-breakpoints)) {
            width: map-get($container-max-widths, 'sm');
        }
        @media (min-width: breakpoint-min('md', $grid-breakpoints)) {
            width: map-get($container-max-widths, 'md');
        }
        @media (min-width: breakpoint-min('lg', $grid-breakpoints)) {
            width: map-get($container-max-widths, 'lg');
        }
        @media (min-width: breakpoint-min('xl', $grid-breakpoints)) {
            width: map-get($container-max-widths, 'xl');
        }
    }
}

.floatCol {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}
